extends ../layout

block fonts
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,700|Rubik:300,400,700")
  link(rel="application/font-woff", href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/themes/basic/assets/fonts/icons.woff")
  link(rel="application/font-woff", href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/themes/github/assets/fonts/octicons.woff")
block externalStyles
  link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
  //framework styles
  link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css")
  //TODO: refactor and load only needed files: https://github.com/Semantic-Org/Semantic-UI/tree/master/dist/components
block localStyles
  //Local authenticationStyle/Signin CSS
  link(rel="stylesheet", href="/stylesheets/authenticationStyle.css")
block headScripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
block bodyExternalScripts
  script(src="//code.jquery.com/jquery-2.2.4.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js")
  script( src="//cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.3.3/keyboard.min.js", defer)
block bodyLocalScripts
  script(src="/javascript/register.js")
  script(src="/javascript/main.js")

block content
  #wrapper.bg-cover.bg-no-repeat.bg-center
    header#page-header
      // Header Content
    section#page-content
      // Main Body Content
      if (error)
        div.ui.negative.message
          i.close.icon
          div.header.prim= error.title
          p.prim= error.body
      if (message)
        div.ui.message
          i.close.icon
          div.header.prim= message.title
          p.prim= message.body
      .app-content
        a.ui.button.form-button.loginButton.altButton.prim.normal.shell(href="/auth/login") Log In
        .logo-text-wrapper.white
          .logo
            img.logo-img(alt='tonebase', src='/images/common/logo.png')
          .logo-text.prim.bold
            span tonebase
          .logo-sub-text.prim.light
            span
              | The world's greatest
              br.hidden-sm.hidden-md.hidden-lg
              | guitarists at your fingertips
        .form-wrapper
          form#signup-form.ui.form
            .form-item-wrapper.field
              input.form-input.form-item.email.prim.normal(type='text', name='email', placeholder='Email Address')
            .form-item-wrapper.field
              input.form-input.form-item.password.prim.normal(type='password', name='password', placeholder='Create Password')
            .form-item-wrapper.field
              input.form-input.form-item.password.prim.normal(type='password', name='confirm_password', placeholder='Confirm Password')
            .form-item-wrapper
              a.form-item.form-button.ui.button.stepOneButton.prim.normal(onclick="registerStepOne()") Sign Up
            span.form-span OR
            .form-item-wrapper.social-button-wrapper
              a.ui.button.form-item.social-button.prim.normal.facebook(href="/auth/facebook")
                i.facebook.icon
                |Sign Up with Facebook
            .form-item.wrapper.social-button-wrapper
              a.ui.button.form-item.social-button.prim.normal.google.plus(href="/auth/google")
                i.google.icon
                |Sign Up with Google
          form#signup-form-2.ui.form.hidden
            .form-item-wrapper.field
              input.form-input.form-item.email.prim.normal(type='text', name='email', placeholder='Email Address')
            .form-item-wrapper.field
              input.form-input.form-item.password.prim.normal(type='password', name='password', placeholder='Create a Password', disabled)
            .form-item-wrapper.field
              input.form-input.form-item.f_name.prim.normal(type='text', name='f_name', placeholder='First Name')
            .form-item-wrapper.field
              input.form-input.form-item.l_name.prim.normal(type='text', name='l_name', placeholder='Last Name')
            .form-item-wrapper.field
              input.form-input.form-item.birthyear.prim.normal(type='number', name='birthyear', placeholder='Birthyear (ex: 1982)')
            .form-item-wrapper.field
              .ui.selection.dropdown
                input.form-item.form-dropdown.prim.normal(name='gender', type='hidden')
                .default.text.dropdown-label.prim.normal Gender
                i.dropdown.icon
                .menu
                  .item(data-value='male') Male
                  .item(data-value='female') Female
                  .item(data-value='dna') Prefer Not To Answer
            .form-item-wrapper
              a.form-item.form-button.ui.button.stepTwoButton.prim.normal(onclick='registerStepTwo()') Continue
          form#signup-form-3.ui.form.inverted.hidden
            .form-item-wrapper.field
              input.form-input.form-item.fav_performer.prim.normal(type='text', name='fav_performer', placeholder='Favorite Artist')
            .form-item-wrapper.field
              input.form-input.form-item.fav_composer.prim.normal(type='text', name='fav_composer', placeholder='Favorite Composer')
            .form-item-wrapper.field
              .ui.multiple.selection.dropdown
                input.form-item.form-dropdown.preffered_music_period.prim.normal(name='preffered_music_period', type='hidden', value='')
                i.dropdown.icon
                .default.text.dropdown-label.prim.normal Preffered Musical Style
                .menu
                  .item(data-value='Renaissance') Renaissance
                  .item(data-value='Baroque') Baroque
                  .item(data-value='Classical') Classical
                  .item(data-value='19th Century') 19th Century
                  .item(data-value='Contemporary') Contemporary
                  .item(data-value='South American') South American
                  .item(data-value='Flamenco') Flamenco
                  .item(data-value='Romantic') Romantic
            .form-item-wrapper.field
              .ui.multiple.selection.dropdown
                input.form-item.form-dropdown.user_professional_status.prim.normal(name='user_professional_status', type='hidden', value='')
                i.dropdown.icon
                .default.text.dropdown-label.prim.normal Level of Experience
                .menu
                  .item(data-value='Student') Student
                  .item(data-value='Hobbyist') Hobbyist
                  .item(data-value='Performer') Performer
                  .item(data-value='Instructor') Instructor
                  .item(data-value='Other') Other
            .form-item-wrapper.field
              .ui.toggle.checkbox.guitar-owned-checkbox-wrapper.inverted
                input.form-checkbox.guitar_owned.prim.normal(type='checkbox', name='guitar_owned')
                label Do you own a guitar?
            .form-item-wrapper.field
              input.form-input.form-item.guitar_owned_model.hidden.prim.normal(type='text', name='guitar_owned_model', placeholder='Guitar Owned Model')
            .form-item-wrapper
              a.form-item.form-button.ui.button.stepThreeButton.prim.normal(onclick='registerStepThree()') Finish
    footer#page-footer.dark-bg.white
      .row
        .col-xs-12.col-md-6
          .copyright.prim.normal
            | Copyright © 2017 tonebase, inc.
        .col-xs-12.col-md-6
          .social-rollout
            a(href='https://facebook.com/tonebaseteam')
              | Facebook
            a(href='https://instagram.com/tonebaseteam')
              | Instagram
            a(href='https://twitter.com/tonebaseteam')
              | Twitter
            a(href='https://linkedin.com/company/tonebase')
              | LinkedIn
