//ROOT document layout
doctype html
html
  head
    //page title
    title= title
    //meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content= pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="google-site-verification", content="")
    //icons
    //fonts
    block fonts
    //external styles
    block externalStyles      
    //local styles
    block localStyles
    //social sharing
    block socialMeta
    //head scripts
    block headScripts
    //analytics
    block headAnalytics
  body
    block content
    block bodyExternalScripts
    block bodyLocalScripts
    block bodyAnalytics

      
      
      